body {
    background-color: #FFEBEE
}

.card {
    width: 350px;
    background: #4badf7;
    border-radius: 20px;
    border: none
}

.circle {
    height: 56px;
    width: 56px;
    line-height: 60px;
    border-radius: 50%;
    background-color: #fff;
    position: relative;
    left: 28px;
    top: 66px;
    -webkit-transition: height .25s ease, width .25s ease;
    transition: height .25s ease, width .25s ease;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.circle i {
    margin-left: 17px;
    color: #4badf7;
    font-size: 20px
}

.circle:before,
.circle:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 50%;
    border: 1px solid #fff
}

.circle:before {
    -webkit-animation: ripple 2s linear infinite;
    animation: ripple 2s linear infinite
}

.circle:after {
    -webkit-animation: ripple 2s linear 1s infinite;
    animation: ripple 2s linear 1s infinite
}

@-webkit-keyframes ripple {
    0% {
        -webkit-transform: scale(1)
    }

    75% {
        -webkit-transform: scale(1.75);
        opacity: 1
    }

    100% {
        -webkit-transform: scale(2);
        opacity: 0
    }
}

@keyframes ripple {
    0% {
        transform: scale(1)
    }

    75% {
        transform: scale(1.75);
        opacity: 1
    }

    100% {
        transform: scale(2);
        opacity: 0
    }
}
.custom{
    border-radius: 40px;
    box-shadow: 1px 1px 1px  black;
    outline: none;
}

.button {
    border-radius: 40px;
    cursor: pointer;
    font-size: 30px;
    text-align: center;
    color: #4badf7;
}
.custom2{
    border:none;
    width: 220px;
    outline: none;
}